{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <center><h1 class="text-white"><strong>Vardaan Sinha's Personal Flask/Python Server</strong></h1></center>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">
                        <ol>
                            <p>Hi! I am an 11th grader at Del Norte High School, and I am primarily interested in math, computer science, and sports. I also play the piano.</p>
                        </ol>
                    </p>
                    <a href="https://vardaansinha.github.io/home/" class="btn btn-primary">Learn more about me!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">My Scrum Team</h5>
                    <p class="card-text">
                        <ol>
                            <p>My scrum team members are Navan, Justin, and Shaurya. We are all very passionate about computer science, and we have thinking of many ideas for our final portfolio project.
                        </ol>
                    </p>
                    <a href="https://github.com/DavidVasilev1/flask" class="btn btn-primary">Take a look at our group repository!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Computer Science Skills:</h5>
                    <p class="card-text">
                        <ol>
                            <li>Python</li>
                            <li>HTML/CSS</li>
                            <li>Programming Documentation</li>
                        </ol>
                    </p>
                    <a href="https://vardaansinha.github.io/FastPages/markdown/2022/08/19/minor-markdown-post.html" class="btn btn-primary">Take a look at my goals for computer science!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}